<%- include("header.ejs") -%>

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        text-indent: 0;
    }

    .s1 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
    }

    .s2 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }

    .p,
    p {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
        margin: 0pt;
    }

    .s3 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    .s4 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
    }

    ul{
        padding-left: 100px;
    }
    table,
    tbody {
        vertical-align: top;
        overflow: visible;
    }

    td {
        width: 68pt !important;
        border-top-style: solid !important;
        border-top-width: 1pt !important;
        border-left-style: solid !important;
        border-left-width: 1pt !important;
        border-bottom-style: solid !important;
        border-bottom-width: 1pt !important;
        border-right-style: solid !important;
        border-right-width: 1pt !important;
    }
</style>

<h1 style="padding-top: 3pt;text-indent: 0pt;text-align: center;">MENU FOR MESS</h1>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<table class="table" cellspacing="0">
    <tr style="height:14pt">
        <td>
            <p class="s1"
                style="padding-left: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 13pt;text-align: center;">
                DAYS</p>
        </td>
        <td>
            <p class="s1" style="padding-left: 22pt;text-indent: 0pt;line-height: 13pt;text-align: left;">BREAKFAST
            </p>
        </td>
        <td>
            <p class="s1" style="padding-left: 25pt;text-indent: 0pt;line-height: 13pt;text-align: left;">LUNCH</p>
        </td>
        <td>

            <p class="s1" style="padding-left: 21pt;text-indent: 0pt;line-height: 13pt;text-align: left;">SNACKS</p>
        </td>
        <td>
            <p class="s1" style="padding-left: 38pt;text-indent: 0pt;line-height: 13pt;text-align: left;">DINNER</p>
        </td>
    </tr>
    <tr style="height:72pt">
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Monday</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;line-height: 122%;text-align: left;">
                Pongal/Upuma, Medhu Vadai(2 Nos.), Sambar, Coconut Chutney, Bread, Butter Jam,</p>
            <p class="s2" style="text-indent: 0pt;line-height: 11pt;text-align: left;">Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Fulka, Peas
            </p>
            <p class="s2" style="padding-left: 2pt;padding-right: 13pt;text-indent: 0pt;text-align: left;">Masala,
                Dry Ladies finger fry, Plain rice, sambar, Rasam, Curd, Appalam, Pickles</p>
        </td>
        <td>

            <p class="s2" style="padding-right: 34pt;text-indent: 0pt;text-align: left;">Bhelpuri, Tea/ Coffee, Milk
            </p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 18pt;text-indent: 0pt;text-align: left;">
                Chappathi, Dhal or Alu kurma, Bisibelabaath, Onion-Raitha, Fruit salad (1 cup), Ice-Cream, Potato
                chips,</p>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Pickles,
                Butter Milk</p>
        </td>
    </tr>
    <tr style="height:59pt">
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Tuesday</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-right: 19pt;text-indent: 0pt;text-align: left;">Dosai,
                Sambar, Tomato Chutney, Bread, Butter Jam, Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Chappathi, Dry Alu Gobi
                masala, Plain rice, Kara Kuzhambu, Rasam, Curd,</p>
            <p class="s2"
                style="padding-left: 2pt;padding-right: 13pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                Appalam, Pickles, Carrot &amp; Peas Avial</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-right: 11pt;text-indent: 0pt;text-align: left;">Bajji (2
                Nos.) Coconut chutney, Tea/Coffee, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-left: 2pt;padding-right: 18pt;text-indent: 0pt;text-align: left;">
                Chappathi, Malai Kofta, Veg. Poriyal, Plain Rice, Tomato</p>
            <p class="s2"
                style="padding-left: 2pt;padding-right: 18pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                Rasam, Butter Milk, Banana, Pickles</p>
        </td>
    </tr>
    <tr style="height:60pt">
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 9pt;text-indent: 0pt;text-align: center;">
                Wednesday</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-right: 19pt;text-indent: 0pt;text-align: left;">Onion
                oothappam, Pudina Chutney, Bread, Butter Jam, Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-left: 2pt;padding-right: 17pt;text-indent: 0pt;text-align: left;">
                Chappathi, Dhal Fry, Beet-Root Channa, Plain rice, Sambar, Rasam, Curd, Appalam, Pickles</p>
        </td>
        <td>

            <p class="s2" style="padding-right: 4pt;text-indent: 0pt;text-align: left;">Onion Bajji (2 Nos.), Tea/
                Coffee, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Chappathi,
            </p>
            <p class="s2"
                style="padding-left: 2pt;padding-right: 12pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                Mutter pannier (2cups), Puliyogare, Curd Rice, Banana, Pickles, Appalam, Butter Milk</p>
        </td>
    </tr>
    <tr style="height:72pt">
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Thursday</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;line-height: 121%;text-align: left;">
                Masala dosai, Ground Nut Chutney, Bread Bajji, Butter Jam, Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-left: 2pt;padding-right: 24pt;text-indent: 0pt;text-align: justify;">
                Chappathi, Dhal palak, Alu Lajawab, Plain rice, Morkozhambu, Rasam, Curd, Appalam, Pickles</p>
        </td>
        <td>

            <p class="s2" style="padding-top: 1pt;text-indent: 0pt;line-height: 122%;text-align: left;">Potato Bonda
                (2 Nos.), Coconut Chutney, Tea/ Coffee, Milk</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 12pt;text-indent: 0pt;text-align: left;">
                Chappathi, Veg Butter Masala, Dry Gobi Manchurian, Plain Rice, Sambar, Pepper Rasam, Butter Milk,
            </p>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Banana,
                Pickles</p>
        </td>
    </tr>
    <tr style="height:60pt">
        <td>

            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Friday</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">Idly, Sambar,</p>
            <p class="s2" style="padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;text-align: left;">Mint
                Chutney, Bread, Butter Jam, Medhu vadai (2), Coffee/Tea,</p>
            <p class="s2" style="text-indent: 0pt;line-height: 11pt;text-align: left;">Milk</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 14pt;text-indent: 0pt;text-align: left;">
                Chappathi, Soya Beans Rajma masala, Plain rice, Vethakkozhambu, Rasam, Curd, Appalam,</p>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Pickles,
                Vaazhakaporiyal</p>
        </td>
        <td>

            <p class="s2" style="padding-top: 1pt;text-indent: 0pt;line-height: 123%;text-align: left;">Medhu vadai
                (2 Nos.) Coconut chutney, Tea/ Coffee, Milk</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 4pt;text-indent: 0pt;text-align: left;">
                Chappathi, Aloo Gobi Masala, Vegetable Curry, Plain Rice, Lemon Rasam, Banana, Pickles,</p>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Butter Milk
            </p>
        </td>
    </tr>
    <tr style="height:69pt">
        <td>

            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Saturday</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">Poori,</p>
            <p class="s2" style="padding-right: 19pt;text-indent: 0pt;text-align: left;">Alu Sabji/Channa masala,
                Bread, Butter Jam, Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Fulka,</p>
            <p class="s2" style="padding-left: 2pt;padding-right: 3pt;text-indent: 0pt;text-align: left;">Dhal
                Punjabi, Mix-Veg Aviyal, Plain rice, Sambar, Rasam, Curd, Appalam, Pickles</p>
        </td>
        <td>

            <p class="s2"
                style="padding-top: 1pt;padding-right: 11pt;text-indent: 0pt;line-height: 120%;text-align: left;">
                Big size Samosa (2 Nos.), Tomato Sauce, Tea/ Coffee, Milk</p>
        </td>
        <td>
            <p class="s2" style="padding-left: 2pt;padding-right: 27pt;text-indent: 0pt;text-align: left;">Pav
                Bhaji, Curd Rice, Lemon Rice, Potato chips, Banana, Pickles, Butter Milk</p>
        </td>
    </tr>
    <tr style="height:84pt">
        <td>

            <p class="s2"
                style="padding-top: 1pt;padding-left: 4pt;padding-right: 8pt;text-indent: 0pt;text-align: center;">
                Sunday</p>
        </td>
        <td>
            <p class="s2" style="padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;text-align: left;">Alu
                Parota(4 Nos.), Curd, Pickles, Bread, Butter Jam, Coffee/Tea, Milk</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 3pt;text-indent: 0pt;line-height: 120%;text-align: left;">
                Chappathi, Dhal, Panner butter masala (1 cup), Sweet (Kesari/ Payasam), Plain rice, Sambar, Rasam,
                Curd, Appalam, Pickles,</p>
            <p class="s2" style="padding-left: 2pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Cabbage
                Poriyal</p>
        </td>
        <td>

            <p class="s2"
                style="padding-top: 1pt;padding-right: 26pt;text-indent: 0pt;line-height: 122%;text-align: left;">
                Veg Cutlet (2 Nos.), Tomato Sauce, Tea/ Coffee, Milk</p>
        </td>
        <td>
            <p class="s2"
                style="padding-top: 1pt;padding-left: 2pt;padding-right: 26pt;text-indent: 0pt;text-align: left;">
                Battura, Chole, Curd Rice, Banana, Pickles</p>
        </td>
    </tr>
</table>
<h2 style="padding-top: 12pt;padding-left: 42pt;text-indent: 0pt;text-align: left;">Note:</h2>
<ul>
    <li>
        <p style="text-align: left;">Lime
            juice will be served during lunch on all days.</p>
    </li>
    <li>
        <p style="text-align: left;">Egg will be served at extra cost on all
            days.</p>
    </li>
    <li>
        <p style="text-align: left;">Milk will be served in the night at extra
            cost on all days.</p>
    </li>
</ul>



</html>