<%- include("header.ejs") -%>
<style>
    body{
        background:rgba(33,37,41);
    }
    h2{
        padding-top: 2em;
        color: white; 
    }
</style>
<h2 class="text-center"><%= message %></h2>
<button class="btn btn-danger text-center m-auto d-flex mt-4" onclick="history.back()">Go Back</button>
</body>

</html>